includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	tmpDir: %currentWorkingDirectory%/tmp/phpstan

	ignoreErrors:
		- '#Call to deprecated method validateConfig\(\) of class Nette\\DI\\CompilerExtension:\suse getConfigSchema\(\)#'
