<phpunit
	bootstrap="vendor/autoload.php"
	beStrictAboutOutputDuringTests="true"
	cacheResult="true"
	cacheResultFile="tmp/.phpunit.result.cache"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
	stderr="true"
	verbose="true"
>
	<testsuite name="all">
		<directory>tests</directory>
	</testsuite>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
